name: PR Build

on:
  pull_request:

jobs:
  cleanup-and-build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip]')"
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
          server-id: github
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package --file pom.xml
